:root {
  --2c: #2c2d2e;
  --ff: #fff;
  --ef: #ef7c00;
  --0f: #00103d0f;
  --91: #919399;
  --bf: #bfc1c7;
}

.dark {
  --2c: #d1d2d3da;
  --ff: #3f434ffe;
  --ef: #00ef2c;
  --0f: #0e0f10b5;
  --91: #15b472;
}
